.buyPage {
    padding: 40px 70px;
    min-height: 100vh;
}

.buyHeader {
    margin-bottom: 35px;
}

.buyHeader h1 {
    margin-bottom: 8px;
    font-size: 32px;
}

.buyHeader p {
    margin: 0;
    color: #777;
}

.booksGrid {
    display: grid;

    grid-template-columns:
        repeat(5, minmax(0, 1fr));

    gap: 25px;
}

.loadingText,
.emptyText {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}